<div class="container">
  <div class="row">
    <div  class="col-12">
        <div class="d-flex flex-row bd-highlight mt-3  ">
          <div  class = "col-5 p-2 bd-highlight align-margin">
            <%= form_tag monuments_path, method: :get do %>
              <%=text_field_tag :query, params[:query], class: "form-control mb-2 search-test",placeholder: "Find a monument"%>
          </div>
          <div class = "p-2 bd-highlight">
            <%= image_submit_tag("zoom-2.png", class: 'btn-flat search-btn-flat', alt: 'search')%>
            <% end %>
          </div>
        </div>

        <div class ="create-btn-container mb-1 d-flex justify-content-between align-items-center" >
          <h1> <%= pluralize @monuments.size, "result"%> for your monumental research</h1>
          <div id="btn-width">
            <%= link_to "publish your monument", new_monument_path, class: "btn-secondary" %>
          </div>
        </div>

      <div class="cards">
        <% @monuments.each do |monument| %>
        <%= link_to(monument_path(monument)) do  %>
            <div class="card-trip " >
              <div style="background-image: url('<%= cl_image_path monument.photos.first.key %>'); background-size: cover; height: 260px"></div>
              <div class="card-trip-infos">
                <h3 ><%=monument.title %></h3>
                <h5 class="card-trip-pricing"><%= number_with_delimiter(monument.price) %>$/day</h5>
              </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>





