<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>List of all monuments</h1>
      <p><%= link_to "Create a new monument", new_monument_path %></p>
      <ul>
        <% @monuments.each do |monument| %>
        <%= link_to(monument_path(monument)) do  %>
            <div class="card-trip">
              <div><%= monument.photo %></div>
               <div class="card-trip-infos">
                <div>
                  <h2><%=monument.title %></h2>
                </div>
                <h2 class="card-trip-pricing"><%= monument.price %>$</h2>
            </div>
          </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>



