<div class="container">
  <div class="row">
    <div  class="col-12">
      <h1>all the monuments that match you</h1>
      <div class ="create-btn-container mb-5" >
        <div id="btn-width"><%= link_to "publish your monument", new_monument_path, class: "btn-secondary" %></div>
      </div>



      <div class="cards">
        <% @monuments.each do |monument| %>
        <%= link_to(monument_path(monument)) do  %>
            <div class="card-trip " >
              <div style="background-image: url('<%= cl_image_path monument.photos.first.key %>'); background-size: cover; height: 260px"></div>
              <div class="card-trip-infos">
                <div>
                  <h3 ><%=monument.title %></h3>
                </div>
                <h5 class="card-trip-pricing"><%= number_with_delimiter(monument.price) %>$/day</h5>
              </h5>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



