<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= cl_image_path @monument.photos.first.key, crop: :fill%>')">

  <div class="form-container">
    <div class="title col-md-9">
      <h1>rent & enjoy <%= @monument[:title] %></h1>
      <br>
    </div>

  <div class="calendar col-md-3">
   <h1>book now</h1>
      <%= simple_form_for [@monument, @booking] do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {id: "start_date"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {id: "end_date"} %>
        <button type="button" id = "btn_modal" class="btn-flat" data-toggle="modal" data-target=".bd-example-modal-xl">book</button>
        <%= f.submit 'book', id: "button-hidden" %>
      <% end %>
    </div>
  </div>

  <div class="container show-info-container">
    <div class="back-to-index">
      <%= image_tag("go.png")%>
      <%= link_to "back to list", monuments_path, class: "btn-link" %>

    </div>
    <br>
    <div class="information">
      <div class="description mr-4">
        <ul id="list">
          <h2><strong><%= @monument.title %></strong></h2>
          <br>
          <li><h6><%= @monument.description %></h6></li>
          <br>
          <li><em><%= @monument.address %></em></li>
          <br>
          <li><strong><%= number_with_delimiter(@monument.price) %>$/day</strong></li>
        </ul>
      </div>

      <div class="siema-container">
        <div class="siema siema-show">
          <% @monument.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
          <% end %>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="selection mr-4">
        <h2>other monuments you may like</h2>
        <br>
        <% @monuments.sample(4).each do |monument| %>
          <%= link_to(monument_path(monument)) do  %>
            <div class="card-product">
              <img src= '<%= cl_image_path monument.photos.first.key %>'>
                <div class="card-product-infos">
                  <h3 ><%=monument.title %></h3>
                  <h5 class="price"><%= number_with_delimiter(monument.price) %>$/day</h5>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <h1>Congratulations <%= @user.first_name %>! 🎉</h1>
            <p> you have booked <%= @monument.title %>, from <%= @monument.user.first_name %></p>
            <p id = modalPrice>Total price :</p>
            <div class="modal-footer">
              <button type="button" class="btn-flat" data-dismiss="modal">close</button>
              <button type="button" class="btn-flat" id="btn-confirm">confirm booking</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="monument" data-price="<%= @monument.price %>"></div>