<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @monument.photos.first.key, crop: :fill%>')">
  <div class="title">
    <h1>rent & enjoy <%= @monument[:title] %></h1>
    <br>
  </div>

  <div class="calendar">
    <h1>book your monument</h1>
    <%= simple_form_for [@monument, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit class: "btn-flat" %>
    <% end %>
  </div>
</div>
<br>


<div class="container show-info-container">
  <div class="back-to-index">
    <%= link_to "back to list", monuments_path, class: "btn-link" %>
  </div>
  <div class="information">
    <div class="description">
      <ul id="list">
        <li><%= @monument.description %></li>
        <br>
        <li><em><%= @monument.address %></em></li>
        <br>
        <li><%= @monument.price %>$/day</li>
      </ul>
    </div>


    <div class="siema">
      <% @monument.photos.each do |photo| %>
      <%= cl_image_tag photo.key %>
      <% end %>
    </div>
    <div class="button">
        <button class="prev">prev</button>
        <button class="next">next</button>
      </div>
    </div>

    </div>
  </div>
</div>
<br>



<!--   <div class="row">
    <div class="col-4 offset-4"> -->

      <%#= cl_image_tag @monument.photo.key, height: 500, width: 600, crop: :fill %>
      <%# @monument.photos.each do |photo| %>
        <%#= cl_image_tag photo.key, height: 500, width: 600, crop: :fill %>
      <%# end %>




    <!--   <p><%#= link_to "Edit", edit_monument_path(@monument) %></p>
      <p><%#= link_to "Delete", monuments_path(@monument), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
</div> -->
